.artist-card-container {
    display: flex;
    flex-direction: column;
    gap: 13px;
    width: 200px;
    height: 280px;
    background-color: #1F1F1F;
    font-weight: 700;
    font-size: 0.9rem;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.artist-name
{
    margin-top: 7px;
}

.role
{
    margin-top: 5px;
    color: #8c8c8c;
}